@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
html, body {min-height: 100%;}
body{
  margin: 0;
  padding: 0;
  font-family:  Comic Sans MS;
  background: url(../header_images/hewing.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.dot {
  height: 13px;
  width: 13px;
  background:rgba(255,255,255, 0.4);
  border-radius: 50%;
  display: inline-block;
 position: relative;
 left: 40%;
}


.box{
  width: 300px;
  padding: 30px 30px;
  background-color:rgba(25, 25, 25, .8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

#curr{
	background-color:#F0FFFF;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #898F1E;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.box h5{
  font-size: 25px;
  margin-bottom: 0px;
  padding: 13px 0;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.type{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn{
  width: 100%;
  background:#898F1E; 
  border-radius: 44px;
  border: 2px solid #898F1E; 
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn:hover{
	background:green; 
	border: 2px solid green; 
}

input[type=file], select {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.7);
  color:white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;		
}
